<div class="header py-4 d-flex justify-content-between">
  <div class="icon__container">
    <div class="icon">
      <img src="../../assets/shared/logo.svg" alt="logo" />
    </div>
  </div>
  <div class="links__container">
    <div class="line">
    </div>
    <div class="links">
      <ul class="d-flex justify-content-between align-items-center">
        <li class="selectedLink">
          <a href="" class="d-flex justify-content-between align-items-center">
            <p class="link__number">00</p>
            <p class="link__text">HOME</p>
          </a>
        </li>
        <li>
          <a href="" class="d-flex justify-content-between align-items-center">
            <p class="link__number">01</p>
            <p class="link__text">DESTINATION</p>
          </a>
        </li>
        <li>
          <a href="" class="d-flex justify-content-between align-items-center">
            <p class="link__number">02</p>
            <p class="link__text">CREW</p>
          </a>
        </li>
        <li>
          <a href="" class="d-flex justify-content-between align-items-center">
            <p class="link__number">03</p>
            <p class="link__text">TECNOLOGY</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
